@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>Im Auftrag der Aditus GmbH im Rahmen des Einstellungstest für Softwareentwickler.</p>
<p>Geschrieben von <a href="mailto:...">Stephan Müller</a></p> 