@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Im Auftrag der Aditus GmbH im Rahmen des Einstellungstest für Softwareentwickler.</p>
<p>Geschrieben von <a href="mailto:stmueller83@gmail.com">Stephan Müller</a></p> 