@{
    ViewBag.Title = "Contact";
}
<h3>Aditus GmbH</h3>

<address>
    Karlsruher Straße 4<br />
    30880 Laatzen<br />
</address>

<address>
    <abbr title="Fon">Fon:</abbr>
    +49 511 866557-30<br />
    <abbr title="Fax">Fax:</abbr>
    +49 511 866557-57
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:...">Info@aditus.de</a>
</address>