@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adventure Works Cycles</h1>
    <p class="lead"> AdventureWorks-Beispieldatenbanken erstellt von Stepan Müller</p>
    <p></p>
    <p><a href="https://technet.microsoft.com/de-de/library/ms124825(v=sql.100).aspx" class="btn btn-primary btn-lg">Weitere Informationen &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Adventure Works Cycles, das fiktive Unternehmen, auf dem die AdventureWorks-Beispieldatenbanken basieren, ist ein großes, multinationales Produktionsunternehmen.
            Das Unternehmen fertigt und verkauft Fahrräder aus Metall und Verbundwerkstoffen auf dem nordamerikanischen, 
            europäischen und asiatischen Markt. Der Hauptsitz befindet sich mit 290 Mitarbeitern in Bothell, Washington, während mehrere regionale 
            Vertriebsteams über die Zielmärkte hinweg verteilt sind.
        </p>
    </div>
    <div class="col-md-4">
        <p>m Jahr 2000 erwarb Adventure Works Cycles eine kleine Produktionsstätte namens Importadores Neptuno in Mexiko. Importadores Neptuno stellt 
        wichtige Bauteile für die Produktpalette von Adventure Works Cycles her. Diese Bauteile werden zur Endmontage an den Standort Bothell geliefert. 
        Seit 2001 ist Importadores Neptuno der alleinige Hersteller und Distributor der Produktgruppe Tourenräder.</p>
    </div>
    <div class="col-md-4">
        <p>Nach Abschluss eines erfolgreichen Geschäftsjahres ist Adventure Works Cycles daran interessiert, seinen Marktanteil durch intensivierten Verkauf an 
        gute Kunden, durch Erweiterung der Produktverfügbarkeit über eine externe Website und durch Senkung der Preise durch reduzierte 
        Produktionskosten zu vergrößern.</p>
    </div>

    <div class="col-md-4">
        <p>Quelle: <a href="https://technet.microsoft.com/de-de/library/ms124825(v=sql.100).aspx">Microsoft TechNet</a></p>
    </div>
</div>