@model IEnumerable<AdventureWorks.Models.EmployeeDepartmentHistorys>
@using GridMvc.Html  

<div class="row">
    <div class="col-xs-12 col-md-8">
        @{
            ViewBag.Title = "Abteilungshistorie";
        }

        <h2>Abteilungshistorie von: @ViewBag.EmployeeFirstName @ViewBag.EmployeeLastName</h2>
        <br />
    </div>
</div>
<br />

<div class="code-cut">
    @Html.Grid(Model).Named("employeeDepartmentHistGrid").Columns(columns =>
    {
        columns.Add(c => c.BusinessEntityID).Titled("ID").Filterable(true);
        columns.Add(c => c.StartDate).Titled("Startdatum").Format("{0:dd/MM/yyyy}").Filterable(true);
        columns.Add(c => c.EndDate).Titled("Enddatum").Format("{0:dd/MM/yyyy}").Filterable(true);
        columns.Add(c => c.DepartmentID).Titled("Abteilungsnummer").Filterable(true);
        columns.Add(c => c.Name).Titled("Abteilungsname").Filterable(true)
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30);
    }).WithPaging(10).Sortable(true).Selectable(true)
</div>
<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index", "Employees")
</p>
