@model IEnumerable<AdventureWorks.Models.Employees>
@using GridMvc.Html  

<div class="row">
    <div class="col-xs-12 col-md-8">
        @{
            ViewBag.Title = "Index";
        }

        <h2>Mitarbeiterübersicht</h2>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <label for="nameSearchBoxLabel">Suche nach Name:</label>
                <input type="text" class="form-control" id="searchString" name="SearchString" placeholder="John Doe">
                <button type="submit" class="btn btn-default">Suchen</button>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.SearchingFor != null)
{
<br />
<div class="row bg-warning"  style="text-align:center">
    <p class="col-xs-12 col-md-12">
        <br />
        <label for="resultLabel">@ViewBag.SearchingFor</label>
    </p>
</div>
}

<br />

<div id="astr" class="code-cut">
    @Html.Grid(Model).Named("employeeGrid").Columns(columns =>
    {
    columns.Add(c => c.BusinessEntityID).Titled("ID").Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink(model.EmployeeID,"Details", "EmployeeDepartmentHistories", new { id = model.BusinessEntityID }, null).ToHtmlString()).SetWidth(80);
    columns.Add(c => c.JobTitle).Titled("Titel").SetWidth(300);
    columns.Add(c => c.BirthDate).Titled("Geburtsdatum").Format("{0:dd/MM/yyyy}").SetWidth(80);
    columns.Add(c => c.FirstName).Titled("Vorname").SetWidth(150);
    columns.Add(c => c.MiddleName).Titled("Mittelname").SetWidth(150);
    columns.Add(c => c.LastName).Titled("Nachname").SetWidth(150)
    .Encoded(false)
    .Sanitized(false);
    columns.Add(o => o.similarity, true);
        }).WithPaging(10).Sortable(true).Selectable(true)

</div>
<br />

    @section Scripts {
        <script type="text/javascript">
        </script>
    }
